[Unit]
Description=Supastorj Postgres Meta API
After=network.target postgresql.service

[Service]
Type=simple
User={{systemUser}}
Group={{systemGroup}}
WorkingDirectory={{workingDirectory}}
Environment="NODE_ENV=production"
EnvironmentFile={{workingDirectory}}/.env

# For source deployment
{{#useSource}}
ExecStart=/usr/bin/node {{workingDirectory}}/postgres-meta/dist/server/server.js
{{/useSource}}

Restart=always
RestartSec=10

# Security
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target